<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties" ng-if="item">
      <tr>
        <th>Comments</th>
        <td class="newlines">{{item.comments | missing}}</td>
      </tr>

      <tr>
        <th>Test Patient?</th>
        <td><span tick="item.test"></span></td>
      </tr>
      <tr>
        <th>Control Patient?</th>
        <td><span tick="item.control"></span></td>
      </tr>
      <tr ng-if="item.signedOffState != null">
        <th>Data completeness maximized</th>
        <td><span>{{item.signedOff.label}}</span></td>
        
      </tr>

    </table>

    <div metadata item="item"></div>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Comments</div>

        <div frm-control>
          <div frm-textarea-field model="item.comments"></div>
          <div frm-errors errors="item.errors.comments"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Test Patient?</div>

        <div frm-control>
          <div frm-boolean-field model="item.test"></div>
          <div frm-errors errors="item.errors.test"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Control Patient?</div>
        <div frm-control>
          <div frm-boolean-field model="item.control"></div>
          <div frm-errors errors="item.errors.control"></div>
        </div>
      </div>

      <div frm-field frm-group ng-if="item.signedOffState != null">
        <div frm-label>Data completeness maximized</div>

        <div frm-control>
          <div frm-radio-field model="item.signedOffState" options="signedOffStates"></div>
          <div frm-errors errors="item.errors.signedOffState"></div>
        </div>
      </div>


      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>
    </form>
  </div>
</div>
