@import 'variables';
@import 'mixins';

html {
  // Footer
  position: relative;
  min-height: 100%;
}

body {
  // Footer
  margin-bottom: $radar-footer-height;
}

.content {
  padding: $radar-padding;
}

h1:first-child {
  margin-top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $radar-footer-height;
  padding: $radar-padding;
  text-align: center;
  font-size: 11px;
  background-color: #333;
  color: #fff;

  p {
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
    color: $headings-color;
  }
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: underline;
}

a.btn,
.nav a {
  text-decoration: none;
}

select {
  max-width: 100%;
}

.input-group {
  max-width: 200px;
}

.form-group.required .control-label:after {
  content: '*';
  color: red;
}

.fa-ban {
  color: red;
}

.fa-exclamation-triangle {
  color: orange;
}

.ui-datepicker {
  z-index: 9999 !important;
}

.search-clear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 13px;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
  color: #ccc;
}

.table {
  width: auto;
}

th.right {
  text-align: right;
}

.table {
  > thead,
  > tbody,
  & {
    > tr {
      > td,
      > th {
        padding: 5px 6px;
      }
    }
  }
}

.latest-news-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: $font-size-base;
    margin: 0 0 9px 0;
  }
}

.logo {
  text-align: center;
  margin-bottom: 9px;

  img {
    max-height: 100px;
    max-width: 150px;

    @include filter(grayscale(100%));

    &:hover {
      @include filter(grayscale(0%));
    }
  }
}

@media (min-width: 900px) {
  .logo {
    width: 16.6%;
    float: left;

    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    height: 100px;
    line-height: 100px;
    vertical-align: middle;
  }
}

.form-container {
  max-width: 768px;
}

.full-width .form-control {
  width: 100%;
}

.form-control {
  width: auto;
}

textarea.form-control {
  width: 100%;
  max-width: 768px;
}

.properties th {
  text-align: right;
}

.newlines {
  white-space: pre-line;
}

td.source {
  color: #777;
}

a .hidden-demographics {
  color: $link-color;
}

.hidden-demographics {
  color: #777;
  font-style: italic;
}

.empty {
  color: #777;
  font-style: italic;
}

.about {
  font-size: 16px;
}

.alert-danger a {
  color: $radar-danger-text;
}

.alert-warning a {
  color: $radar-warning-text;
}

.alert-success a {
  color: $radar-success-text;
}

.no-columns-selected {
  color: #777;
  font-style: italic;
}

form.columns {
  margin-bottom: 9px;
}

table.metadata {
  font-size: 12px;
  border: 1px solid #eee;
  color: #777;
  border-collapse: collapse;
  margin: 0 0 9px;

  th,
  td {
    border: 1px solid #eee;
    padding: 3px 5px;
  }
}

.header-alert {
  text-align: center;
  font-size: 11px;
  padding: 3px 15px;
  color: #fff;
  background-color: #333;
}

.old-browser-alert {
  text-align: center;
  font-size: 18px;
  padding: 3px 15px;
  color: #fff;
  background-color: $radar-danger;
}

.header-alert a {
  color: #fff;
}

.header-alert-danger {
  background-color: $radar-danger;
}

.header-alert-warning {
  background-color: $radar-warning;
}

.post {
  max-width: 600px;
}

// FIXME https://github.com/twbs/bootstrap-sass/issues/919
.breadcrumb > li + li:before {
  content: '/\00a0';
}

.text-editor-toolbar {
  margin: 0 0 9px 0;
}

.text-editor.ql-container {
  border: 1px solid #ccc;
  height: 300px;
}

.graph {
  margin-bottom: 18px;
}

.navbar-brand {
  padding: 10px 15px;
}

.filter-helper {
  margin: 0 0 9px 0;
}

.observation-list-selector .pagination {
  margin: 9px 0 0 0;
}

.observation-list-selector .filter-helper {
  margin: 0;
}

.observation-list-selector table.observations {
  margin: 0 0 9px 0;
}

.observation-selector,
.drug-selector,
.diagnosis-selector {
  margin: 0 0 18px 0;

  .pagination {
    margin: 9px 0 0 0;
  }

  .filter-helper {
    margin: 0;
  }

  .table {
    margin: 0;
  }
}

.disabled-user {
  text-decoration: line-through;
}

.password {
  font-family: monospace;
}

.log-data {
  font-family: monospace;
  font-size: 11px;
  white-space: pre-wrap;
}

a.delete-user,
a.delete-patient {
  color: #777;
}

.no-link,
.no-link:hover {
  text-decoration: none !important;
}

.link {
  text-decoration: underline;
}

.dead,
.dead a,
.dead a .hidden-demographics {
  color: red;
}

/* More spacing between inline elements */
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

.negative {
  text-decoration: line-through;
}

.leaderboard h2 {
  margin-top: 0;
}

.extra-bottom-space {
  padding-bottom: 20px;
}

.checkbox > label > input[type='checkbox'] {
  margin: 2px 0 0;
  margin-left: -20px;
}

.indent {
  margin-left: 20px;
}

.pid-warning {
  color: red;
  font-weight: bold;
}

.hla {
  float: left;
  width: 15%;

  span,
  input {
    padding: 6px;
  }

  &:nth-child(even) {
    margin-right: 10px;
  }

  &:nth-child(odd) {
    margin-right: -1px;
  }

  &:last-child {
    margin-right: 0px;
  }

  &:nth-child(odd) input {
    border-radius: 0;
  }

  &:nth-child(even) span {
    border-radius: 0;
    border-left: 0;
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: 17%;
  }
}
