@import "variables";

.patient {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;

  ul {
    list-style-type: none;
    padding: 5px $radar-padding 0 $radar-padding;
    margin: 0;
    @include clearfix;

    li {
      float: left;
      margin-right: 20px;
      margin-bottom: 5px;
    }

    li.info, li.toggle-demographics {
      // Padding to match patient name height
      padding: 4px 0;
    }

    li.info {
      > span {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        @include clearfix;
      }

      .key, .value {
        display: block;
        float: left;
        padding: 3px 5px;
      }

      .key {
        color: #FFF;
        background-color: #333;
      }

      &.dod {
        > span {
          border-color: red;
        }

        .key {
          background-color: red;
        }
      }
    }

    li.name {
      a {
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: #333;
      }
    }

    li.name.dead {
      a {
        color: red;
      }
    }

    li.toggle-demographics {
      float: right;
      display: block;
      margin-left: 20px;
      margin-right: 0;

      > a {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        color: #FFF;
        background-color: #333;
        padding: 3px 5px;
      }
    }
  }
}

.patient-nav {
  ul {
    background-color: #EEE;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    list-style-type: none;
    padding: 5px $radar-padding 0 $radar-padding;
    margin: 0;
    @include clearfix;

    li {
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;

      a {
        display: block;
        padding: 3px 5px;
        border-radius: 2px;
        color: #333;
        text-decoration: underline;
      }
    }

    li.active a,
    li.group.active a,
    li.group a:hover,
    li.group a:focus,
    li a:hover,
    li a:focus {
      color: #FFF;
      background-color: #333;
    }

    li.radar {
      display: block;
      font-weight: bold;
      padding: 3px 5px;
      border-radius: 2px;
      background-color: transparent;
    }

    li.group {
      font-weight: bold;

      a {
        color: #FFF;
        background-color: $radar-primary;
      }
    }
  }
}

.if-demographics-hidden, .if-demographics-visible {
  display: none;
}

#div-edit-result .result-item {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        min-width: 700px;
        max-width: 700px;
        float: left;
        display: inline-block;
        border-bottom: 1px solid #ddd;
    }

   #div-edit-result {
        min-width: 705px !important;
        max-width: 705px !important;
    }

    #div-edit-result .form-control {
        width: 100px !important;
    }

    #div-edit-result .col-md-9 {
        width: 90%;
    }

    #div-edit-result .input-group-addon {
        min-width: 60px !important;
    }

    #div-edit-result select.form-control {
        width: 115px !important;
    }

    #div-source-group select {
        min-width: 260px !important;
    }

    #div-group-date {
        max-width: 100px;
    }

    #div-edit-result-bar {
        float: left;
        display: inline-block;
        margin: 10px 0 !important;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-color: cadetblue;
        padding-bottom: 10px;
    }

    .widthV20{width:20%; float:left; display:inline}
    .widthV15{width:15%; float:right; display:inline}
    .widthV11{width:11%; float:left; display:inline}
    .widthV5{width:5%; float:left; display:inline}
    .labelF{text-align:right; padding:5px}
    .widthF100{min-width:100px; max-width:100px; float:left; display:inline-block}
    .widthF120{min-width:120px!important; max-width:120px!important; float:left; display:inline-block}
    .widthF180{min-width:180px; max-width:180px; float:left; display:inline-block}
    .widthF200{min-width:200px; max-width:200px; float:left; display:inline-block}
    .result-item:nth-child(odd) { background-color: #f9f9f9;}
    #div-edit-result-bar {
            max-width: 1450px;
            min-width: 1450px;
        }
     #div-edit-result-body {
            max-width: 1450px;
            min-width: 1450px;
        }
     #left-half{
            float: left;
            display: inline-block;
            min-width: 710px;
            max-width: 710px;
            border-color:#00aa9e;
            border-width:2px;
            border-style:solid;
        }
     #right-half{
            float: right;
            display: inline-block;
            min-width: 710px;
            max-width: 710px;
            border-color:#00aa9e;
            border-width:2px;
            border-style:solid;
        }

    /*@media screen and (min-width: 1447px) {

        .result-item:nth-child(4n+1) {
            background-color: #f9f9f9;
        }

        .result-item:nth-child(4n+4) {
            background-color: #f9f9f9;
        }

        #div-edit-result-bar {
            max-width: 1530px;
            min-width: 1530px;
        }
    }

    @media screen and (max-width: 1447px) {
        .result-item:nth-child(odd) {
            background-color: #f9f9f9;
        }

        #div-edit-result-bar {
            max-width: 720px;
            min-width: 720px;
        }
    }*/