@import "variables";

.radar-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix;
  border-style: solid;
  border-width: 1px;
  border-color: $radar-primary;
  border-radius: $border-radius-base $border-radius-base 0 0;
  overflow: hidden; /* clip tabs to border */

  > li {
    float: left;

    > a {
      display: block;
      margin: 0;
      padding: 10px 15px;
      color: $radar-primary-text;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        background-color: $radar-primary-bg;
      }

      span.badge {
        color: #fff;
        background-color: $radar-primary-text;
      }
    }

    &.active > a {
      color: #fff;
      background-color: $radar-primary;

      span.badge {
        color: $radar-primary;
        background-color: #fff;
      }
    }
  }
}

.radar-body {
  border-color: $radar-primary;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  margin: 0 0 18px 0;
  padding: 15px;

  .page-header {
    margin-top: 0;
  }
}
