<p class="form-control-static" ng-show="diagnosis">{{diagnosis.name}} <button type="button" ng-click="drop()" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></button></p>

<div loading="loading" ng-show="!diagnosis">
  <div list-helper="diagnoses as page" list-helper-options="{perPage: 10, sortBy: 'weight'}" class="diagnosis-selector">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th sort-helper="weight">#</th>
          <th sort-helper="diagnosis.name">Name</th>
          <th sort-helper="orphaCode">Orpha</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="3">
            <div filter-helper></div>
          </td>
        </tr>

        <tr ng-show="!page.getCount()">
          <td colspan="3" class="empty">No matching diagnoses.</td>
        </tr>

        <tr ng-repeat="diagnosis in page.getItems()">
          <td>
            <button type="button" ng-click="use(diagnosis.diagnosis)" class="btn btn-primary btn-xs">Select</button>
          </td>

          <td>{{diagnosis.diagnosis.name}}</td>
          <td>{{diagnosis.orphaCode | missing}}</td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
