<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties">
      <tr>
        <th>Name</th>
        <td>{{item.name}}</td>
      </tr>

      <tr>
        <th>EDTA</th>
        <td>{{item.edta | missing}}</td>
      </tr>

      <tr>
        <th>Retired</th>
        <td><span tick="item.retired"></span></td>
      </tr>
    </table>

    <table class="table" ng-if="item.groups.length">
        <tr>
            <th>Group</th>
            <th>Type</th>
        </tr>

        <tr ng-repeat="group in item.groups">
            <td>{{group.group.name}}</td>
            <td>{{group.type.label}}</td>
        </tr>
    </table>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Name</div>

        <div frm-control>
          <div frm-text-field model="item.name" required="true"></div>
          <div frm-errors errors="item.errors.name"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>EDTA</div>

        <div frm-control>
          <div frm-integer-field model="item.edta"></div>
          <div frm-errors errors="item.errors.edta"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Retired</div>

        <div frm-control>
          <div frm-checkbox-field model="item.retired"></div>
          <div frm-errors errors="item.errors.retired"></div>
        </div>
      </div>

      <div diagnosis-groups-component diagnosis="item"></div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" list-helper-options="{perPage: 100, sortBy: 'name'}">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table table-condensed table-striped" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="name">Name</th>
          <th sort-helper="edta">EDTA</th>
          <th sort-helper="retired">Retired</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.name}}</td>
          <td>{{item.edta | missing}}</td>
          <td><span tick="item.retired"></span></td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
