<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-create-button action="create()"></span>
      <span crud-edit-button item="item"></span>
      <span crud-remove-button item="item"></span>
    </p>

    <div ng-if="item">
      <table class="table properties">
        <tr>
          <th>Date</th>
          <td>{{item.date | dateFormat}}</td>
        </tr>

        <tr>
          <th>Nephropathies</th>
          <td>
            <div ng-if="item.nephropathies.length == 0">-</div>
            <ul ng-if="item.nephropathies.length > 0">
                <li ng-repeat="nephropathy in item.nephropathies">{{nephropathy.label}}</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>Relapsed in the last 6 months</th>
          <td><span tick="item.relapsed"></span></td>
        </tr>

        <tr>
          <th>Supportive medications</th>
          <td>
              <div ng-if="item.supportiveMedication.length == 0">-</div>
              <ul ng-if="item.supportiveMedication.length > 0">
                  <li ng-repeat="medication in item.supportiveMedication">{{medication.label}}</li>
              </ul>
          </td>
        </tr>

        <tr>
          <th>WHO Performance status</th>
          <td>{{item.performanceStatus}}</td>
        </tr>
      </table>

      <table class="table properties">
        <tr>
          <td>Previous treatment</td>
          <td>Start date</td>
          <td>End date</td>
        </tr>
        <tr ng-repeat="option in rtxTreatmentOptions track by option.id" ng-if="item.previousTreatment[option.id][option.id]">
          <th>{{option.label}}</th>
          <td>{{item.previousTreatment[option.id].startDate}}</td>
          <td>{{item.previousTreatment[option.id].endDate}}</td>
        </tr>
      </table>

    </div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Date</div>

        <div frm-control>
          <div frm-date-field model="item.date" required="true"></div>
          <div frm-errors errors="item.errors.date"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Does the patient have</div>

        <div frm-control>
          <div frm-multiple-checkbox-field model="item.nephropathies" options="patientNephropathiesList"></div>
          <div frm-errors errors="item.errors.nephropathies"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Relapsed in the last 6 months</div>

        <div frm-control>
          <div frm-yes-no-field model="item.relapsed"></div>
          <div frm-errors errors="item.errors.relapsed"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Current Supportive Medication</div>

        <div frm-control>
          <div frm-multiple-checkbox-field model="item.supportiveMedication" options="supportiveMedicationList"></div>
          <div frm-errors errors="item.errors.supportiveMedication"></div>
        </div>
      </div>

      <h3>Previous Immunomodulatory Treatment</h3>
      <div ng-repeat="option in rtxTreatmentOptions track by option.id">

        <div frm-field frm-group>
          <div frm-label>{{option.label}}</div>
          <div frm-control>
            <div frm-checkbox-field model="item.previousTreatment[option.id][option.id]" checked="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>Start Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['startDate']" required="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['startDate']"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>End Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['endDate']"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['endDate']"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id] && (option.id === 'chlorambucil' || option.id === 'cyclophosphamide')">
          <div frm-label>Total dose ever</div>
          <div frm-control>
            <div frm-text-field model="item.previousTreatment[option.id]['totalDose']"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['totalDose']"></div>
          </div>
        </div>

        <hr>
      </div>

      <div frm-field frm-group>
        <div frm-label>In the opinion of the treating nephrologist has the patient had a complete or partial remission in the past in response to cytotoxic therapy?</div>

        <div frm-control>
          <div frm-yes-no-field nullable="true" null-label="Not applicable" model="item.pastRemission"></div>
          <div frm-errors errors="item.errors.pastRemission"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>WHO Performance status</div>

        <div frm-control>
          <div frm-select-field model="item.performanceStatus" options="rtxPerformanceOptions"></div>
          <div frm-errors errors="item.errors.performanceStatus"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>

    </form>

  </div>
</div>
