<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-create-button action="create()"></span>
      <span crud-edit-button item="item"></span>
      <span crud-remove-button item="item"></span>
    </p>

    <div ng-if="item">
      <table class="table properties">
        <tr>
          <th>Data Source</th>
          <td>{{item.getSource()}}</td>
        </tr>

        <tr>
          <th>Date</th>
          <td>{{item.date | dateFormat}}</td>
        </tr>

        <tr>
          <th>Native or Transplant</th>
          <td>{{ item.nephropathy.label }}</td>
        </tr>

        <tr>
          <th>Supportive medications</th>
          <td>
              <div ng-if="item.supportiveMedication.length == 0">-</div>
              <ul ng-if="item.supportiveMedication.length > 0">
                  <li ng-repeat="medication in item.supportiveMedication">{{medication.label}}</li>
              </ul>
          </td>
        </tr>

        <tr>
          <th>WHO Performance status</th>
          <td>{{item.performanceStatus}}</td>
        </tr>

        <tr>
          <th>Complete or Partial remission</th>
          <td><span tick="item.pastRemission"></span></td>
        </tr>

        <tr>
          <th>Steroids</th>
          <td><span tick="item.steroids"></span></td>
        </tr>
      </table>

      <table class="table properties" ng-if="previousAvailable()">
        <tr>
          <th>Previous treatment</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Total dose ever</th>
        </tr>
        <tr ng-repeat="option in rtxTreatmentOptions track by option.id" ng-if="item.previousTreatment[option.id][option.id]">
          <th>{{ option.label }}</th>
          <td>{{ item.previousTreatment[option.id].startDate }}</td>
          <td>{{ item.previousTreatment[option.id].endDate }}</td>
          <td>{{ item.previousTreatment[option.id].totalDose }}</td>
        </tr>
        <tr>
          <th>{{ item.otherPreviousTreatment }}</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Data Source</div>

        <div frm-control>
          <div frm-source-group-field patient="patient" model="item.sourceGroup" required="true"></div>
          <div frm-errors errors="item.errors.sourceGroup"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Date</div>

        <div frm-control>
          <div frm-date-field model="item.date" required="true"></div>
          <div frm-errors errors="item.errors.date"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Does the patient have</div>

        <div frm-control>
          <div frm-radio-field model="item.nephropathy" options="patientNephropathiesList"></div>
          <div frm-errors errors="item.errors.nephropathy"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Current Supportive Medication</div>

        <div frm-control>
          <div frm-multiple-checkbox-field model="item.supportiveMedication" options="supportiveMedicationList"></div>
          <div frm-errors errors="item.errors.supportiveMedication"></div>
        </div>
      </div>

      <h3>Previous Immunomodulatory Treatment</h3>
      <div ng-repeat="option in rtxTreatmentOptions track by option.id">

        <div frm-field frm-group>
          <div frm-label>{{option.label}}</div>
          <div frm-control>
            <div frm-checkbox-field model="item.previousTreatment[option.id][option.id]" checked="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>Start Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['startDate']" required="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['startDate']"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>End Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['endDate']"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['endDate']"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id] && withTotalDose(option)">
          <div frm-label>Total dose ever</div>
          <div frm-control>
            <div frm-text-field model="item.previousTreatment[option.id]['totalDose']"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['totalDose']"></div>
          </div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Steroids</div>

        <div frm-control>
          <div frm-yes-no-field nullable="true" model="item.steroids"></div>
          <div frm-errors errors="item.errors.steroids"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Other Treatments</div>

        <div frm-control>
          <div frm-text-field model="item.otherPreviousTreatment"></div>
          <div frm-errors errors="item.errors.otherPreviousTreatment"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>In the opinion of the treating nephrologist has the patient had a complete or partial remission in the past in response to cytotoxic therapy?</div>

        <div frm-control>
          <div frm-yes-no-field nullable="true" null-label="Not applicable" model="item.pastRemission"></div>
          <div frm-errors errors="item.errors.pastRemission"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>WHO Performance status</div>

        <div frm-control>
          <div frm-select-field model="item.performanceStatus" options="rtxPerformanceOptions"></div>
          <div frm-errors errors="item.errors.performanceStatus"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>

    </form>

  </div>
</div>
