<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-create-button action="create()"></span>
      <span crud-edit-button item="item"></span>
      <span crud-remove-button item="item"></span>
    </p>

    <div ng-if="item">
      <table class="table properties">
        <tr>
          <th>Date</th>
          <td>{{item.date | dateFormat}}</td>
        </tr>
        <tr ng-repeat="(med, status) in item.supportiveMedication">
          <th>{{ getMedicationLabel(med) }}</th>
          <td><span tick="status"></span></td>
        </tr>
        <tr>
          <th>WHO Performance status</th>
          <td>{{item.performanceStatus}}</td>
        </tr>
      </table>

      <table class="table properties">
        <tr>
          <td>Previous treatment</td>
          <td>Start date</td>
          <td>End date</td>
        </tr>
        <tr ng-repeat="option in rtxTreatmentOptions track by option.id" ng-if="item.previousTreatment[option.id][option.id]">
          <th>{{option.label}}</th>
          <td>{{item.previousTreatment[option.id].startDate}}</td>
          <td>{{item.previousTreatment[option.id].endDate}}</td>
        </tr>
      </table>

    </div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Date</div>

        <div frm-control>
          <div frm-date-field model="item.date" required="true"></div>
          <div frm-errors errors="item.errors.date"></div>
        </div>
      </div>

      <h2>Current Supportive Medication</h2>
        <div frm-field frm-group>
          <div frm-label>RAAS Blockade</div>

          <div frm-control>
            <div frm-checkbox-field model="item.supportiveMedication.raasblockade" checked="item.supportiveMedication.raasblockade"></div>
            <div frm-errors errors="item.errors.supportiveMedication.raasblockade"></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Anticoaguliant</div>

          <div frm-control>
            <div frm-checkbox-field model="item.supportiveMedication.anticoaguliant" checked="item.supportiveMedication.anticoaguliant"></div>
            <div frm-errors errors="item.errors.supportiveMedication.anticoaguliant"></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Statins</div>

          <div frm-control>
            <div frm-checkbox-field model="item.supportiveMedication.statins" checked="item.supportiveMedication.statins"></div>
            <div frm-errors errors="item.errors.supportiveMedication.statins"></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Diuretics</div>

          <div frm-control>
            <div frm-checkbox-field model="item.supportiveMedication.diuretics" checked="item.supportiveMedication.diuretics"></div>
            <div frm-errors errors="item.errors.supportiveMedication.diuretics"></div>
          </div>
        </div>

      <h2>Previous Immunomodulatory Treatment</h2>
      <div ng-repeat="option in rtxTreatmentOptions track by option.id">

        <div frm-field frm-group>
          <div frm-label>{{option.label}}</div>
          <div frm-control>
            <div frm-checkbox-field model="item.previousTreatment[option.id][option.id]" checked="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>Start Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['startDate']" required="item.previousTreatment[option.id][option.id]"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['startDate']"></div>
          </div>
        </div>

        <div frm-field frm-group ng-if="item.previousTreatment[option.id][option.id]">
          <div frm-label>End Date</div>
          <div frm-control>
            <div frm-date-field model="item.previousTreatment[option.id]['endDate']"></div>
            <div frm-errors errors="item.errors.previousTreatment[option.id]['endDate']"></div>
          </div>
        </div>
        <hr>
      </div>

      <div frm-field frm-group>
        <div frm-label>WHO Performance status</div>

        <div frm-control>
          <div frm-select-field model="item.performanceStatus" options="rtxPerformanceOptions"></div>
          <div frm-errors errors="item.errors.performanceStatus"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>

    </form>

  </div>
</div>
