<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-create-button action="create()"></span>
      <span crud-edit-button item="item"></span>
      <span crud-remove-button item="item"></span>
    </p>

    <div ng-if="item">
      <table class="table properties">
        <tr>
          <th>Date</th>
          <td>{{item.date | dateFormat}}</td>
        </tr>

      </table>


    </div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>

      <div frm-field frm-group>
        <div frm-label>Date</div>

        <div frm-control>
          <div frm-date-field model="item.date" required="true"></div>
          <div frm-errors errors="item.errors.date"></div>
        </div>
      </div>

      <h4 class="col-md-9 col-sm-offset-3"><em><b>Rituximab will only be funded for the treatment of idiopathic MN where all of the following criteria are met:</b></em></h4>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria1" required="true" checked="item.criteria1">A proven diagnosis of Membranous Nephropathy and patient registered on RaDaR.</div>
          <div frm-errors errors="item.errors.criteria1"></div>
        </div>
      </div>

      <div frm-field frm-group>

        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria2" required="true" checked="item.criteria2">Maximum tolerated Renin Angiotensin Aldosterone System (RAAS) blockade.</div>
          <div frm-errors errors="item.errors.criteria2"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria3" required="true" checked="item.criteria3">Exclusion of secondary causes.</div>
          <div frm-errors errors="item.errors.criteria3"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria4" required="true" checked="item.criteria4">Ongoing severe disease.</div>
          <div frm-errors errors="item.errors.criteria4"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria5" required="true" checked="item.criteria5">
            Failure or intolerance of conventional immunomodulatory therapies.
            <div frm-errors errors="item.errors.criteria5"></div>
          </div>

        </div>
      </div>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria6" required="true" checked="item.criteria6">
            Measurement of anti-PLA2R prior to Rituximab therapy, quarterly in the first year and every 6 months thereafter.
            <p class="small text-muted" style="padding-left: 15px;">
              The PLA2R antibody assay used MUST be the Euroimmun ELISA and MUST be performed in a lab that has UKAS accreditation for the Euroimmun ELISA assay. If your laboratory does not use this assay then please contact the Protein Reference Unit in Sheffield to arrange for the assay to be done there.
            </p>
          </div>
          <div frm-errors errors="item.errors.criteria6"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-control label="false">
          <div frm-checkbox-field model="item.criteria7" required="true" checked="item.criteria7">
            Patients can be retreated with Rituximab within the CTE scheme as long as they have had a sustained partial remission for greater than 6 months after previous Rituximab therapy
          </div>
          <div frm-errors errors="item.errors.criteria7"></div>
        </div>
      </div>

      <div class="col-md-9 col-sm-offset-3">
        <h4><b>Definitions:</b></h4>


        <p><b>Ongoing severe disease</b> is defined as either:</p>

        <ol>
          <li>
            Proteinuria of greater than 3.5g/day (or Protein Creatinine Ratio [PCR] of greater than 350mg/mmol) and a serum albumin of less than 30g/l.
          </li>
          <li>
            Fall in eGFR of at least 20% over at least 3 months or longer, based on a minimum of three measurements.
          </li>
        </ol>


        <p>
          <b>Failure of therapy</b> is defined as:
        </p>

        <ol>
          <li>
            Ongoing severe disease (as defined above) at least 3 months after completion of alkylating agent therapy or CNI therapy
          </li>
        </ol>

        <p>
          <b>Intolerance</b> is defined as:
        </p>

        <ol>
          <li>
            Type 1 hypersensitivity reactions
          </li>

          <li>
            For alkylating agents:
            <ol type="a">
              <li>
                Bone marrow suppression, hepatitis or other drug associated toxicity greater than Grade 3 by Common Terminology Criteria for Adverse Events (CTCAE).
              </li>
              <li>
                Previous hospitalisation with infectious complication of alkylating agent therapy.
              </li>
              <li>
                Inability to comply with monitoring requirements.
              </li>
              <li>
                Previous urothelial cancer or any current cancer (excluding squamous cell carcinoma of the skin).
              </li>
              <li>
                People with threatened fertility
              </li>
            </ol>
          </li>

          <li>
            For CNIs:

            <ol type="a">
              <li>
                Fall in eGFR on CNI therapy of at least 20% or to below 60 ml/min/1.73m2
              </li>
              <li>
                Previous hospitalisation with infectious or metabolic complication of CNI therapy
              </li>
              <li>
                Inability to comply with monitoring requirements.
              </li>
            </ol>
          </li>
          <li>
            4. For any therapy that utilises adjunctive steroids (i.e. in combination with cytotoxics or cyclosporine):
            <ol type="a">
              <li>
                Diabetes
              </li>
              <li>
                Risk factors for steroid induced diabetes: BMI greater than or equal to 30kg/m2 (or greater than or equal to 25kg/m2 if South Asian), family history of diabetes affecting at least one first-degree relative)
              </li>
            </ol>
          </li>
        </ol>
        <hr />
      </div>



      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>

    </form>

  </div>
</div>
