<ol class="breadcrumb">
  <li><a href="" ng-click="backToSearch()">Search</a></li>
  <li class="active">Patient Details</li>
</ol>

<h2>Patient Details</h2>

<form class="form-horizontal form-container" submit-if-valid="goToDiagnosis()" novalidate>
  <div frm-field frm-group ng-if="patient.id">
    <div frm-label>RaDaR</div>

    <div frm-control>
      <p class="form-control-static">{{patient.id}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>First Name</div>

    <div frm-control>
      <p class="form-control-static">{{patient.firstName | missing}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Last Name</div>

    <div frm-control>
      <p class="form-control-static">{{patient.lastName | missing}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Date of Birth</div>

    <div frm-control>
      <p class="form-control-static">{{patient.dateOfBirth | dateFormat}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Gender</div>

    <div frm-control>
      <p class="form-control-static">{{patient.gender.label | missing}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>{{patient.numberGroup.shortName}}</div>

    <div frm-control>
      <p class="form-control-static">{{patient.number}}</p>
    </div>
  </div>

  <div ng-if="!patient.id" frm-field frm-group>
    <div frm-label>Nationality</div>

    <div frm-control>
      <div frm-select-field model="patient.nationality" options="nationalities"></div>
      <div frm-errors errors="patientErrors.nationality"></div>
    </div>
  </div>

  <div ng-if="!patient.id" frm-field frm-group>
    <div frm-label>Ethnicity</div>

    <div frm-control>
      <div frm-select-field model="patient.ethnicity" options="ethnicities"></div>
      <div frm-errors errors="patientErrors.ethnicity"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Cohort</div>

    <div frm-control>
      <div frm-recruit-patient-cohort-field model="patient.cohortGroup" required="true"></div>
      <div frm-errors errors="patientErrors.cohortGroup"></div>
      <div frm-help>
        <a href="https://nww.radar.nhs.uk/downloads/inclusion-exclusion.pdf">Inclusion and Exclusion Criteria</a>
      </div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Hospital</div>

    <div frm-control>
      <div frm-recruit-patient-hospital-field model="patient.hospitalGroup" required="true"></div>
      <div frm-errors errors="patientErrors.hospitalGroup"></div>
    </div>
  </div>

  <h4 class="page-header">Adult consent forms</h4>

  <div class="col-md-9 col-sm-offset-3 extra-bottom-space">
    <div class="checkbox graph" ng-repeat="consent in consents" ng-if="!consent.retired && !consent.paediatric">
      <div ng-if="consent.consentType === 'INFORMATION_SHEET'">
      <ul><li>{{ consent.label }}</li></ul>
      </div>
      <label ng-if="consent.consentType === 'FORM'">
        <input
            type="checkbox"
            id="consent.code"
            ng-required="!someSelected(patient.consents)"
            ng-model="patient.consents[consent.id]" />
          {{ consent.label }}
          <span ng-if="!consent.linkUrl">({{ consent.code }})</span>
      </label>

      <span ng-if="!!consent.linkUrl">(<a href="{{consent.linkUrl}}" target="_blank">{{consent.code}}</a>)</span>
    </div>
  </div>

  <h4 class="page-header">Child consent forms</h4>

  <div class="col-md-9 col-sm-offset-3 extra-bottom-space">
    <div class="checkbox graph" ng-repeat="consent in consents" ng-if="!consent.retired && consent.paediatric">
      <div ng-if="consent.consentType === 'INFORMATION_SHEET'">
      <ul><li>{{ consent.label }}</li></ul>
      </div>
      <label ng-if="consent.consentType === 'FORM'">
        <input
            type="checkbox"
            id="consent.code"
            ng-required="!someSelected(patient.consents)"
            ng-model="patient.consents[consent.id]" />
          {{ consent.label }}
          <span ng-if="!consent.linkUrl">({{ consent.code }})</span>
      </label>

      <span ng-if="!!consent.linkUrl">(<a href="{{consent.linkUrl}}" target="_blank">{{consent.code}}</a>)</span>
    </div>
  </div>

  <div class="col-md-9 col-sm-offset-3 extra-bottom-space">
  For more information concerning consent forms, please visit <a href="http://rarerenal.org/radar-registry/criteria-and-consent/" target="_blank">rarerenal.org website</a>
  </div>

  <div class="col-md-9 col-sm-offset-3 extra-bottom-space">
    <strong><em>
      You must fill the Diagnosis information to complete patient Registration on RADAR
    </em></strong>
  </div>
  <div frm-buttons>
    <span submit-button>Fill Diagnosis</span>
  </div>
</form>
