<ol class="breadcrumb">
  <li><a href="" ng-click="backToSearch()">Search</a></li>
  <li><a href="" ng-click="backToDemographics()">Demographics</a></li>
  <li class="active">Patient Diagnosis</li>
</ol>

<form
  class="form-horizontal form-container"
  submit-if-valid="recruit()"
  novalidate
>
  <div frm-field frm-group>
    <div frm-label>Diagnosis</div>

    <div frm-control>
      <div
        frm-primary-diagnosis-field
        cohort="patient.cohortGroup"
        model="patient.diagnosis.diagnosisId"
        required="true"
      ></div>
      <div frm-help>
        Choose the most specific diagnosis.<br/>
        <a href="https://www.era-edta-reg.org/prd.jsp" target="_blank"
        >ERA-EDTA PRD codes.</a
        >
      </div>
      <div frm-errors errors="patient.errors.diagnosis.diagnosisId"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Symptoms Date</div>

    <div frm-control>
      <div frm-date-field model="patient.diagnosis.symptomsDate"></div>
      <div frm-help>Date of onset of symptoms.</div>
      <div frm-errors errors="patient.errors.diagnosis.symptomsDate"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Diagnosis Date</div>

    <div frm-control>
      <div
        frm-date-field
        model="patient.diagnosis.fromDate"
        required="true"
      ></div>
      <div frm-help>
        01/MM/YYYY if day is not known, 01/01/YYYY if only a year known.
      </div>
      <div frm-errors errors="patient.errors.diagnosis.fromDate"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>To Date</div>

    <div frm-control>
      <div frm-date-field model="patient.diagnosis.toDate"></div>
      <div frm-errors errors="patient.errors.diagnosis.toDate"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Prenatal Diagnosis</div>

    <div frm-control>
      <div frm-boolean-field model="patient.diagnosis.prenatal"></div>
      <div frm-errors errors="patient.errors.diagnosis.prenatal"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Confirmed by Gene Test</div>

    <div frm-control>
      <div frm-boolean-field model="patient.diagnosis.geneTest"></div>
      <div frm-errors errors="patient.errors.diagnosis.geneTest"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Confirmed by Biochemistry</div>

    <div frm-control>
      <div frm-boolean-field model="patient.diagnosis.biochemistry"></div>
      <div frm-errors errors="patient.errors.diagnosis.biochemistry"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Confirmed by Clinical Picture</div>

    <div frm-control>
      <div frm-boolean-field model="patient.diagnosis.clinicalPicture"></div>
      <div frm-errors errors="patient.errors.diagnosis.clinicalPicture"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Confirmed by Biopsy</div>

    <div frm-control>
      <div
        frm-boolean-field
        model="patient.diagnosis.biopsy"
        required="true"
      ></div>
      <div frm-help>
        If Diagnosis is confirmed by biopsy , then mark YES, In all other cases
        mark NO. This includes where a biopsy has been performed but the results
        are unobtainable or unknown
      </div>
      <div frm-help>Please, fill biopsy details on pathology tab</div>
      <div frm-errors errors="patient.errors.diagnosis.biopsy"></div>
    </div>
  </div>

  <div
    frm-field
    frm-group
    ng-if="
    patient.diagnosis.diagnosisId.id == 174 &&
    patient.diagnosis.biopsy == false
  "
  >
    <div frm-label>
      Proteinuria with positive antibody test
    </div>

    <div frm-control>
      <div
        frm-boolean-field
        model="patient.diagnosis.proteinuriaPositiveAntibody"
        required="true"
      ></div>

      <div frm-errors
           errors="patient.errors.diagnosis.proteinuriaPositiveAntibody"
      ></div>
    </div>
  </div>
  <div
    frm-field
    frm-group
    ng-if="
    patient.diagnosis.diagnosisId.id == 174 &&
    patient.diagnosis.biopsy == false &&
    patient.diagnosis.proteinuriaPositiveAntibody == true
  "
  >
    <div frm-label>
      Antibody
    </div>

    <div frm-control>
      <div
        frm-select-field
        model="patient.diagnosis.antibodyId"
        options="antibodies"
        required="true"
      ></div>

      <div
        frm-errors
        errors="patient.errors.diagnosis.antibodyId"
      ></div>
    </div>
  </div>

  <div ng-if="
        patient.diagnosis.diagnosisId.id == 174 &&
        patient.diagnosis.biopsy == false &&
        patient.diagnosis.proteinuriaPositiveAntibody == true &&
        patient.diagnosis.antibodyId == 'OTHER'" frm-field frm-group>
    <div frm-label>Custom Antibody</div>

    <div frm-control>
          <input
            type="text"
            frm-text-field
            ng-model="patient.diagnosis.antibodyCustom"
            ng-required="true"
          />
      <div frm-help>input the antibody if known and not in the above list or 'n/a' if not, only use lowercase and
        ('/'or'-')
      </div>
      <div frm-errors errors="patient.diagnosis.errors.antibodyCustom"></div>
    </div>

  </div>


  <div
    ng-if="patient.diagnosis.biopsy && biopsyDiagnosisRequired"
    frm-field
    frm-group
  >
    <div frm-label>Biopsy Diagnosis</div>

    <div frm-control>
      <div
        frm-select-field
        model="patient.diagnosis.biopsyDiagnosis"
        options="biopsyDiagnoses"
      ></div>
      <div frm-errors errors="patient.errors.diagnosis.biopsyDiagnosis"></div>
    </div>
  </div>

  <div frm-field frm-group>

    <div frm-label>
      Comments
      <p ng-show="!item.comments.length" style="color: red; font-weight: bold;">
        Maximum 500 Characters
      </p>
    </div>

    <div frm-control>
      <div style="color: red; font-weight: bold;">If you have additional information that exceeds character limit please
        enter this under pathology tab if biopsy otherwise letters tab
      </div>
      <div
        frm-textarea-field-restricted
        model="patient.diagnosis.comments"
      ></div>
      <div frm-errors errors="patient.errors.diagnosis.comments"></div>
    </div>
  </div>

  <div frm-buttons>
    <span submit-button>Recruit Patient</span>
  </div>
</form>
