<div loading="loading" crud>
    <div ng-if="viewing">
      <p>
        <span crud-list-button></span>
        <span crud-edit-button item="item"></span>
      </p>

      <div metadata item="item"></div>
    </div>

    <div ng-if="editing">
      <p>
        <span crud-list-button></span>
        <span crud-view-button item="originalItem"></span>
      </p>
      Recruited on: {{ patient.recruitedDate | dateFormat}}<br />
      Recruited by: {{ patient.recruitedUser.firstName | missing }} {{ patient.recruitedUser.lastName | missing }}<br />
      Recruited at: {{ patient.recruitedGroup.name }}



      <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>

        <div frm-field frm-group>
          <div frm-label>Signed on:</div>
          <div frm-control>
            <div frm-date-field model="item.signedOnDate"></div>
            <div frm-errors errors="item.errors.signedOnDate"></div>
          </div>
        </div>


        <div ng-repeat="consent in consents" frm-field frm-group>
          <div frm-control label="false">
            <div frm-checkbox-field model="item.consents[consent.id]">
              {{consent.label}}
              <a ng-if="consent.linkUrl" href="{{consent.linkUrl}}" target="_blank">({{consent.code}})</a>
              <span ng-if="!consent.linkUrl">({{consent.code}})</span>

            </div>
            <div frm-errors></div>
          </div>

        </div>

        - {{ item.getReconsentDate(patient) | dateFormat }}

        <div frm-buttons>
          <span crud-save-button></span>
          <span crud-cancel-list-button></span>
        </div>
      </form>


    </div>

    <div ng-if="!viewing && !editing" list-helper="items as page" list-helper-options="{perPage: 10, sortBy: 'fromDate', reverse: true}">
      <p>
        <span crud-create-button action="create()"></span>
      </p>

      <div filter-helper></div>

      <div ng-show="!page.getCount()">
        <p>No results.</p>
      </div>

      <table class="table table-condensed table-striped" ng-if="page.getCount()">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in page.getItems()">
            <td>
              <span crud-list-view-button item="item"></span>
              <span crud-list-edit-button item="item"></span>
            </td>


            <td>
              <span crud-list-remove-button item="item"></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div pagination-helper></div>
    </div>
  </div>
