<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties" ng-if="item">
                  
      <tr ng-if="item.signedOffState != null">
        <th>Data completeness maximized</th>
        <td><span>{{item.signedOffState.label}}</span></td>
      </tr>

      <tr>
        <th>Blood Tests?</th>
        <td><span tick="item.test"></span></td>
      </tr>
      <tr>
        <th>Interviews?</th>
        <td><span tick="item.control"></span></td>
      </tr>

    </table>

    <div nurturedata item="item"></div>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form
      class="form-horizontal form-container"
      crud-submit="saveAndView()"
      novalidate
    >

      <div frm-field frm-group ng-if="item.signedOffState != null">
        <div frm-label>Data completeness maximized</div>
        
        <div frm-control>
          <div
            ng-if="groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="INSSignedOffStates"
          ></div>
          <div
            ng-if="!groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="signedOffStates"
          ></div>
          <div frm-errors errors="item.errors.signedOffState"></div>
        </div>
      </div>

      <div frm-field frm-group ng-if="item.signedOffState != null">
        <div frm-label>Blood Samples</div>
        
        <div frm-control>
          <div
            ng-if="groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="nurtureOptions"
          ></div>
          <div
            ng-if="!groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="nurtureOptions"
          ></div>
          <div frm-errors errors="item.errors.signedOffState"></div>
        </div>
      </div>

      <div frm-field frm-group ng-if="item.signedOffState != null">
        <div frm-label>Interviews</div>
        
        <div frm-control>
          <div
            ng-if="groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="nurtureOptions"
          ></div>
          <div
            ng-if="!groupShortNames.includes('NURTuRE - INS')"
            frm-radio-field
            model="item.signedOffState"
            options="nurtureOptions"
          ></div>
          <div frm-errors errors="item.errors.signedOffState"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>
    </form>
  </div>
</div>
